/*
$mainBlue: #00A3C8;
$steelBlue: #004861;
body {
    color:#333;
}
h1{
    color: #FC3;
}
.large-hero{
    h2{
        color:$steelBlue;
    }
}*/
/*@import("akjwnjkaw"); will not use this*/
@import "normalize.css";
@import "base/_variables.css";
@import "base/_mixins.css";
@import "base/_global";
@import "base/_grid";
@import "base/_helper";
@import "modules/_heading";
@import "modules/_btn"; 
@import "modules/_header.css";
@import "modules/_large-hero.css";
@import "modules/_our-beginning";
@import "modules/_counter.css";
@import "modules/_services.css";
@import "modules/_testimonial.css";
@import "modules/_reveal-items.css";
@import "modules/_form";
@import "modules/_contact-box";
@import "modules/_modal";
